{% extends 'index.html'%}

{% block content %}
<form id="regForm" method = "post" action="accounts/register">
    {% csrf_token %}
    <!-- One "tab" for each step in the form: -->
    <div class="tab" id="tab">
      <!-- <img src = "/static/zzzzzzz/img/backmarker_logo.png' %}" class = "image"> -->
      <h1 class="fs-title">Enter Your Product Id</h1>
      <input type="text" id = "productId" name="productId" oninput="this.className = ''" placeholder="Product Id" />
    </div>
    <div class="tab" id="tab2">
    <!-- <img src = "/static/assets/img/backmarker_logo.png'" class = "image"> -->
    <h1 class="fs-title">Register Yourself</h1>
      <input type="text" name="uname" oninput="this.className = ''" placeholder="User Name" />
       <input type="text" name="email" id="email" oninput="this.className = ''" placeholder="Email"/>
      <input type="password" name="pass" id="pass" oninput="this.className = ''" placeholder="Password" />
     <input type="password" name="cpass" id="cpass" oninput="this.className = ''" placeholder="Confirm Password" />
    </div>
    <div class="tab">
    <!-- <img src = "/static/assets/img/backmarker_logo.png" class = "image"> -->
    <h1 class="fs-title">Personal Details</h1>
      <input type="text" name="fname" oninput="this.className = ''" placeholder="First Name" />
      <input type="text" name="lname" oninput="this.className = ''" placeholder="Last Name" />
      <input type="number" name="phone" oninput="this.className = ''" placeholder="Phone" maxlength = "10"/>
      <input type="text" name="dob" oninput="this.className = ''" placeholder="Date Of Birth" onfocus="(this.type='date')"/>
    </div>
    <div style="overflow:auto;">
      <div style="float:right;">
        <button type="button" id="prevBtn" class="action-button" onclick="nextPrev(-1)">Previous</button>
        <button type="button" id="nextBtn" class="action-button" onclick="nextPrev(1)">Next</button>
      </div>
    </div>
  </form>
  
{% endblock %}



